.header{
    height: 70px;
    display: flex;
    flex-flow: row;
    background: #424242ba;
    color: white;
}

.example-spacer {
    flex: 1 1 auto;
  }

  .example-card {
    max-width: 400px;
    margin-bottom: 8px;
    display: grid;
    justify-items: center;
  }