<mat-toolbar class="header">
  <mat-toolbar-row>
    <span class="title">Aplicacion de Notas</span>
    <span class="example-spacer"></span>
    <button *ngIf="longText" mat-fab extended color="basic">
      <span class="button-label" (click)="newNote()">Nueva Nota</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>



  <mat-card *ngIf="!listaRecuperada" >
    <mat-card-content
      ><button mat-fab extended color="basic">
        <span class="button-label" (click)="newNote()">Nueva Nota</span>
      </button></mat-card-content
    >
  </mat-card>

<div class="row" *ngIf="listaRecuperada" >
  
  <div class="col-sm-3 col-md-3" *ngFor="let item of listaRecuperada">
    <mat-card class="example-card" >
      <mat-card-content>
        <p>{{ item.notes }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended color="basic" (click)="deleteNote(item.id)">
          <span class="button-label">Eliminar</span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
