<mat-toolbar class="header">
  <mat-toolbar-row>
    <span class="title">Aplicacion de Notas</span>
    <span class="example-spacer"></span>
    <button mat-fab extended color="basic"><span class="button-label">Nueva Nota</span> 

    </button>
  </mat-toolbar-row>
</mat-toolbar>


<div class="row">
  <div class="col-sm-3 col-md-3">
    <mat-card class="example-card">
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended color="basic"><span class="button-label">Eliminar</span> </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-3 col-md-3">
    <mat-card class="example-card">
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended color="basic"><span class="button-label">Eliminar</span> </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-3 col-md-3">
    <mat-card class="example-card">
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended color="basic"><span class="button-label">Eliminar</span> </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-3 col-md-3">
    <mat-card class="example-card">
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended color="basic"><span class="button-label">Eliminar</span> </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-3 col-md-3">
    <mat-card class="example-card">
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended color="basic"><span class="button-label">Eliminar</span> </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-3 col-md-3">
    <mat-card class="example-card">
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended color="basic"><span class="button-label">Eliminar</span> </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="col-sm-3 col-md-3">
    <mat-card class="example-card">
      <mat-card-content>
        <p>This card indeterminates progress bar.</p>
        <p>{{longText}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab extended color="basic"><span class="button-label">Eliminar</span> </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>